 <div class="mainContent">
		<div class="wholecontent">	
				<article class="topcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Notre Association</a></h2>
					</header>
					
<!-- 					<footer>
						<p class="post-info">This was posted on the 2nd of March 2013 by Christian Vasile</p>
					</footer> -->
					
					<content>
						<p>L'Association Islamique et Culturelle d'Ahl -el-Bayt (AS) Genève (AICAG) est une association islamique chiite (l'une des 5 écoles islamiques connue sous le nom de "Ja'farite" ou "imamite duodécimain" de l'Imâm Jafar al-Sadiq (S) 6em Imam des 12 descendants du prophète de l'Islam Mohammad (SAW).</p>

						<p>L'Association Islamique et Culturelle  d'Ahl-el- Bayt de  Genève a été créée par un groupe de musulmans chiites résidents à Genève et les environs. Ahl –el- Bayt (AS)  veut dire les gens de la maison ou la famille du Prophète MOHAMMAD (S) c'est à dire sa fille FATIMA ZAHRA (S.A), son cousin et gendre l'IMAM ALI (A.S), leurs enfants HASSAN(S) et HUSSEIN (S) ainsi que les descendants de ce dernier.</p>

						<p>L'AICAG a pour but d'offrir aux musulmans de Genève et  les environs, un cadre pour l'épanouissement de leur spiritualité ainsi que de promouvoir et défendre leurs intérêts. D'autre part nous essayons de faire connaître l'Islam aux non-musulmans. L'Union des musulmans est un de nos objectifs principaux et pour cela des contacts sont pris avec nos frères et sœurs appartenant à d'autres écoles islamiques</p>

						<p>Son but est d'une part, de permettre à la communauté musulmane de Suisse et principalement celle de Genève, d'exercer librement leurs pratiques religieuses et de s'épanouir spirituellement au travers des célébrations religieuses, conférences et cours.</p>

						<h1>Les activités de L'Association Islamique et Culturelle  d'Ahl-el- Bayt de  Genève</h1>

						<p>Toutes nos activités se déroulent dans nos locaux à l'occasion des événements suivantes:</p>
						<ul>
							<li>Célébration des fêtes islamiques.</li>
							<li>Organisation des programmes pour les mois de Ramadhan et Moharram  
								Cours pour les enfants.</li>
							<li>Notre centre possède une bibliothèque contenant des ouvrages de qualité en français, arabe, persan, anglais, urdu, allemand, espagnol et italien.</li>
						</ul></p>
						    
						<p>Généralement nos réunions sont en français mais nous en organisons aussi en arabe, persan, urdu et anglais. Elle est ouvert à tous, n'hésiter pas à venir nous rendre visite, vous êtes les bienvenus</p>
						<strong>Adresse: 6, route des Acacias; 1227 Les Acacias; Genève</strong>
					</content>					
				</article>
		</div>
			
	</div>
	
	<footer class="mainFooter">
		<p>Copyright &copy; 2013 <a href="#">Ali Fakheri</a></p>
	</footer>
