 <div class="mainContent">
		<div class="wholecontent">	
				<article class="topcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Contacte</a></h2>
					</header>
					
<!-- 					<footer>
						<p class="post-info">This was posted on the 2nd of March 2014 by Christian Vasile</p>
					</footer> -->
					
					<content>
          
          <p>
          <p>v.khoshideh@gmail.com</br>
          Tél +41-79 680 46 26</br></p>
        <p>Association Islamique d'Ahl-El-Bayt (AS) de Suisse - Geneve</br>
          1227 Les Acacias, Genève</br>
          Suisse</p>
          </p>
					</content>
				</article>
		</div>
			
	</div>
	
	<footer class="mainFooter">
		<p>Copyright &copy; 2014 <a href="#">Ali Fakheri</a></p>
	</footer>
