 <div class="mainContent">
		<div class="wholecontent">	
				<article class="topcontent">	
					<header>
						<h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Contact</a></h2>
					</header>
					
<!-- 					<footer>
						<p class="post-info">This was posted on the 2nd of March 2014 by Christian Vasile</p>
					</footer> -->
					
					<content>
					</content>
				</article>
		</div>
			
	</div>
	
	<footer class="mainFooter">
		<p>Copyright &copy; 2014 <a href="#">Ali Fakheri</a></p>
	</footer>
