 <div class="mainContent">
		<div class="wholecontent">	
			<ul>
			 <li> <%= link_to "Ecole",  home_ecole_path %></li>
			</ul>
				<article class="topcontent">	
					<header>
					</header>
					
<!-- 					<footer>
						<p class="post-info">This was posted on the 2nd of March 2014 by Christian Vasile</p>
					</footer> -->
					
					<content>
          <p>
          Grâce aux cotisations des membres et à vos généreuses donations, nous avons pu continuer nos activités tout en gardant notre totale indépendance. Nous comptons toujours sur votre indispensable soutien pour pouvoir poursuivre nos activités.
          </p>
<form action="demo_form.asp">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>

          <p>
          Notre association est totalement indépendante et n'appartient à aucun gouvernement, ambassade ou organisation. Nos ressources financières sont les cotisations des membres et les dons. Nous n'avons pas de salariés et nos activités sont fait par des bénévoles. Les dons sont entièrement versés pour le loyer du centre et nos activités.
          </p>

          <p>
          Vous pouvez verser vos donations sur notre compte CCP:
          </p>
Association Islamique et Culturelle d’Ahl-el-Bayt de Genève
</br>
6, Route des Acacias 
</br>
1227 Les Acacias (Genève)- Suisse
</br>
Postfinance, Numéro de compte : 12-570768-0
</br>
IBAN : CH11 0900 000 1257 0768 0
</br>
BIC POFICHBEXXX

<p>
Pour vos sadaqas,  vos aides financières  aux orphelins et nécessiteux, veuillez utiliser aussi le même compte (CCP  12 –570768-0) en mentionnant  le motif de votre don dans la rubrique communication.
</p>

<p>
Pour tout renseignement n’hésitez pas à contacter Vahid Khoshideh au 079 680 46 26 ou par e-mail : v.khoshideh@gmail.com.
</p>
					</content>
				</article>
		</div>
			
	</div>
