 <div class="mainContent">
		<div class="wholecontent">	
				<article class="topcontent">	
					<header>
					</header>
					
<!-- 					<footer>
						<p class="post-info">This was posted on the 2nd of March 2014 by Christian Vasile</p>
					</footer> -->
					
					<content>
			<ul>
       <li>  <%= link_to "Contacte",  home_contact_path %></li>
			</ul>
          <p>
          L’Association Islamique et Culturelle d’Ahl-el-Bayt (AS) de Genève organise des cours sur la religion islamique, la langue arabe et la langue persane pour les enfants de 4 ans à 16 ans.
          </p>

          <p>
L’Ecole Ahl-el-Bayt (AS) commence sa rentrée vers le 15 septembre et se termine en début juin.
          </p>


          <p>
Les cours auront lieu au Centre Islamique et Culturelle d’Ahl-el-Bayt (AS) sis 6 route des Acacias.
          </p>


          <p>
          Les frais d’inscription par année, pour chaque famille, sont de 600.- CHF (possibilité de payer en plusieurs fois, par exemple 10 fois 60.- CHF). Les familles qui ont des difficultés financières peuvent demander une réduction des frais.
          </p>


          <p>
          Notre association est totalement indépendante et n'appartient à aucun gouvernement, ambassade ou organisation. Nos ressources financières sont les cotisations des membres et les dons. Nous n'avons pas de salariés et nos activités sont fait par des bénévoles. Les frais d’inscription sont entièrement versés pour le loyer du centre et nos activités.
          </p>

          <p>
          Pour tout renseignement n’hésitez pas à contacter Vahid Khoshideh au 079 680 46 26 ou par e-mail : v.khoshideh@gmail.com.
          </p>
					</content>
				</article>
		</div>
			
	</div>
