  <div class="content">
    <article class="topcontent">
      <header>
        <!-- <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">Programme du mois de Mouharram</a></h2> -->
        <h1>Evénements</h1>
      </header>

      <!-- <footer>
            <p class="post-info">This was;<i><strong></strong></i></br> posted on the 2nd of March 2013 by Christian Vasile</p>
          </footer> -->

      <content>
      <div class="g-post" data-href="https://plus.google.com/events/cpbbcs7d1ll9otqr7tb2kbnrqng"></div>
      <!-- </p> -->
      <!-- <p> -->
      <!-- <dl> -->
      <!--   <dt>Jeudi  19 décembre 2013 à 19h30</dt> -->
      <!--   <dd>Dua Komeil , Discours en français et farsi<dd> -->
      <!--   <dt>Samedi 21 décembre 2013 (le quarantième (Arbaeen) de  l'Imam Hossein (AS)) à 19h00</dt> -->
      <!--   <dd>Discours en français et farsi suivi du repas<dd> -->
      <!-- </dl> -->
      <!-- </p> -->
      <!-- <p><a href="https://plus.google.com/115599741199753540904" rel="publisher">Google+</a></p> -->

      </content>

    </article>

    <!-- 				<article class="bottomcontent">	
          <header>
            <h2><a href="#" rel="bookmark" title="Permalink to this POST TITLE">First post</a></h2>
          </header>

          <footer>
            <p class="post-info">This was posted on the 5th of March 2013 by Christian Vasile</p>
          </footer>

          <content>
            <p>Lorem  nulla pariatur.</p>
          </content>

        </article> -->
  </div>

  <aside class="top-sidebar">
    <article>
      <div id="prayerlist">
        <h2>Horaires de prières (Genève)</h2>
        <ul>
          <li>Fajr</li>
          <li>{{fajr}}</li>
          <li>Lever</li>
          <li>{{sunrise}}</li>
          <li>Dhuhr</li>
          <li>{{dhuhr}}</li>
          <li>Asr</li>
          <li>{{asr}}</li>
          <li>Coucher</li>
          <li>{{sunset}}</li>
          <li>Magrib</li>
          <li>{{maghrib}}</li>
          <li>Isha</li>
          <li>{{isha}}</li>
        </ul>
      </div>
      <p>
      <a href="/azan/index">Horaires de prières</a>
      </p>
    </article>
  </aside>
